@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

body{
    font-family: 'Titillium Web', sans-serif !important;
    color: #505050;
}

.textarea-message{
    width: 100%;
    padding: 10px 15px;
    height: 150px;
}